@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.AppSearch {
    display: flex;
    background-color: #7c7c7c;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
}