.menu-Contenedor-Oculto {
    position: absolute;
    width: 70%;
    height: 14%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    z-index: 1;
    transition: all .05s linear;
    font-size: 1.2rem ;
}
    .menu-Contenedor-Oculto.open {
        height: 42%;
        background-color: white;
    }

    .menu-Contenedor-Oculto.close {
        height: 14%;
        background-color: white;
    }


