.contenedorMenuDeslizante {
    top: 9.6%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
}

.contenedorMenuDeslizante > ion-icon {
    color: #cccccc;
    position: absolute;
    font-size: 1.4em;
    z-index: 1;
    transform: rotate(90deg);
}

.contenedorMenuDeslizante > img {
    transform: scale(1.6);
    filter:brightness(0.052);
}

