.buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
    height: 55px;
    font-size: 18px;
    border-bottom: 1px solid black;
    margin-bottom: 3%;
}

.buscar > div {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 20%;
    height: 100%;
}



.buscar > div > ion-icon {
    font-size: 38px;
}