.appConfirmar {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #151515;
}

.appConfirmar > div > ion-icon {
    font-size: 1.5em;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin: 4%;
}

.faltapoco {
    margin: 17% 0 4% 0;
    font-size: 1.2em;
    color: #CCCCCC;
}

.contenedorconfirmar {
    display: flex;
    background-color: #2b2b2b;
    flex-direction: column;
    align-self: center;
    align-items: self-start;
    width: 93%;
    padding: 4%;
    color: #CCCCCCCC;
    border: .5px solid #aaaaaa;
    border-radius: 10px;
    font-size: .8em;
}

.contenedorconfirmar > span {
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #7f7e7e;
    width: 100%;
    height: 0.300px;
}

.primario {
    color: white;
    font-size: 1.3em;
    margin-bottom: 5px;
}

.secundario {
    color: white;
    font-size: 1.2em;
}



.confirmar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6cff00;
    bottom: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 130px;
    height: 42px;
    font-size: 1em;
    font-weight: 600;
    
}